body{
    box-sizing: border-box;
}

.header {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
}

.container {
    border: 1px solid;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1.5%;
    border-radius: 10px;
    background-color: #F2AFEF;
}

.quote-container {
    text-align: center;
    justify-content: center;
    margin-bottom: 7%;
    color: #33186B;
}

.quote-container > .quote {
    margin-bottom: 4%;
    font-size: 2em;
    font-weight: bolder;
}

.quote-container > .author {
    font-size: 1m;
}

.footer {
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
}

.footer img {
    height: 4%;
    width: 4%;
}